FORTH_CLIENT_ID=
FORTH_CLIENT_SECRET=
FORTH_API_BASE_URL=https://api.forthcrm.com/v1
FORTH_LEAD_SOURCE=River Relief Website
FORTH_LEAD_CAMPAIGN=Website Leads
FORTH_CREATE_DEBT_RECORDS=true
FORTH_WEBSITE_INTAKE_CREDITOR_ID=28280013
FORTH_DEFAULT_DATA_SOURCE_ID=148284
FORTH_QUALIFY_DATA_SOURCE_ID=148284
FORTH_HOME_DATA_SOURCE_ID=148675
FORTH_CONTACT_DATA_SOURCE_ID=148362
FORTH_CAMPAIGN_ID=
FORTH_FIELD_ESTIMATED_DEBT_ID=749411
FORTH_FIELD_HARDSHIP_DESCRIPTION_ID=749414
FORTH_FIELD_LEAD_TYPE_ID=749418
FORTH_FIELD_LEAD_SOURCE_ID=750639
FORTH_FIELD_ORIGINAL_DATA_SOURCE_ID=750532
FORTH_FIELD_UTM_CAMPAIGN_ID=774881
FORTH_FIELD_CREDIT_RATING_ID=750644
FORTH_FIELD_CREDIT_RATING_SELECT_ID=750799
FORTH_FIELD_MONTHLY_PAYMENT_ID=750800
FORTH_FIELD_TOTAL_DEBT_ID=750801
FORTH_FIELD_STRUGGLING_TO_MAKE_PAYMENTS_ID=760267
FORTH_FIELD_TELL_US_MORE_ID=750868
FORTH_FIELD_TOTAL_CREDIT_CARD_DEBT_ID=754651
